body {
    background-color: #404040;
    text-align: center;
    font-family: 'arial';
    font-size: medium;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

li b {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #0079c4;
}

div {
    margin: 14px;
    padding: 240px 240px;
}

div.bg-container {
    width: 50%;
    position: relative;
    display: inline-block;
}

code {
  background-color: #333;
  border: 1px solid #999;
  border-radius: 20px;
  display: block;
  padding: 20px;
} 

div.bg-container::after {
    display:block;
    padding-top: 56.25%;
    content: '';
}

.content {
    position:absolute;
}

div.hd1-container {
    background-color: #0079c4;
    margin-left: 0;
    margin-right: 0;
    padding: 250px 250px;
}


div.hd2-container {
    padding: 250px 250px;
}

div.item {
    padding: 0%;
    margin: 5px;
    display: inline-block;
}

footer {
    display: block;
    padding: 20px;
    margin: 5px;
}

footer ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
}

footer ul li {
    float: right;
}

footer ul li a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

footer ul li b {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

footer ul li a:hover {
  background-color: #111;
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
